profile__image_edit-button {
    background: transparent url("../../../../images/avatar_edit_icon.svg") center no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    border: none;
}